<h1>会員情報編集</h1>
<%= form_with model: @customer,url: customers_path, method: :patch, local: false do |f| %>
<table class="table">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%=f.text_field :last_name %><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%=f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
    </tr>
  </tbody>
</table>
<div>
  <%= f.submit "編集内容を保存" %>
  <%= link_to "退会する", confirmation_customers_path %>
</div>
<% end %>