  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="mt-4">
          <%= render 'public/items/genre', genres: @genres %>
        </div>
      </div>
      <div class="col-9 mt-4" style = "width: 100%">
        <h2 class="bg-light text-center">新着商品</h2>
        <div class="d-flex flex-wrap justify-content-around">
          <% @items.each do |item| %>
            <div clas="item-group" style = "width: 25%" >
              <% if customer_signed_in? %>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.get_image(200,200) %>
                <% end %>
              <% else %>
                <%= image_tag item.get_image(200,200) %>
              <% end %>
              <%= item.name %><br>
              ¥<%= (item.price).to_s(:delimited) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>