<div class="container">
  <div class="row">
    <div class="col-3">
    <h3>ジャンル検索</h3>
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <th><%= link_to genre.name, genre_search_items_path(genre_id: genre.id), class:"btn btn-info btn-sm rounded-pill mb-2" %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <%= image_tag @item.get_image(500,500) %>
    </div>
    <div class="col-6">
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p>
      <p>¥<%= @item.price %>円</p>

    <div class="d-flex flex-row-reverse bd-highlight">
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <p class="p-2 bd-highlight"><%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる" %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>