<%= image_tag @item.get_image(500,500) %>
<table class="table">
  <tbody>
    <tr>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td><%= @item.price %></td>
    </tr>
  </tbody>
</table>
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit "カートに入れる" %>
      <% end %>