<% if admin_signed_in? %>
 <li>
   <%= link_to "商品一覧",admin_items_path %>
 </li>
 <li>
  <%= link_to "ジャンル一覧",admin_genres_path %>
 </li>
 <li>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
 </li>
<% end %>
<% if customer_signed_in? %>
 <li>
  <%= link_to "マイページ", root_path %>
 </li>
 <li>
  <%= link_to "商品一覧", items_path %>
 </li>
 <li>
  <%= link_to "カート", cart_items_path %>
 </li>
 <li>
  <%= link_to "ログアウト", destroy_customer_session_path,  method: :delete %>
 </li>
 <% end %>